@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-regular {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* sheared style */
.flex-display {
    display: flex;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 24px;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.orange-color {
    color: #FF900E;
}

main>section {
    margin-top: 100px;
}



/* header */
/* navbar style */
.navbar {
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    list-style: none;
    margin-right: 1.8rem;
}

.nav-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
}

.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner style */
.banner-content {
    margin: 0 auto;
    max-width: 862px;
    text-align: center;
}

.banner-title {
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 0.75rem;
}

.banner-description {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6rem;
    margin-top: 0;
    margin-bottom: 2rem;
}

.banner-image {
    margin-top: 3.1rem;
    width: 100%;
    margin-bottom: 2.8rem;
}

/* feature section */
.features-container {
    display: flex;
    align-items: center;
    gap: 4.5rem;
}

.features-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.features-image-container>img {
    border-radius: 8px;

}

.feature-text-container {
    max-width: 537px;
}

.feature-title {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.span-1 {
    font-weight: 500;
}

.span-2,
.span-3 {
    font-weight: bold;
}

.feature-description {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2rem;
}

/* love enhoy section style */
.love-enjoy {
    display: flex;
    gap: 8rem;
    align-items: center;
    justify-content: center;
}

.love-enjoy-title {
    max-width: 468px;
    max-height: 106px;
    border-left: 5px solid rgb(255, 144, 14);
    padding-left: 1.3rem;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.love-enjoy-description {
    margin-bottom: 1.8rem;
    max-width: 586px;
    max-height: 78px;
    margin-top: 0;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6rem;
}

.love-enjoy-card {
    margin-top: 0;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    padding: 1.8rem;
    margin-bottom: 1.25rem;
    border-radius: 8px;
    max-width: 586px;
    max-height: 171px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.6rem;

}

.card-descp {
    margin-top: 0;
    font-size: 1rem;
    font-weight: normal;
    max-width: 514px;
    max-height: 78px;
    line-height: 1.6rem;
}
#experience-badge
{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -123px;
}
#experience-year
{
    font-size: 4rem;
    font-weight: bold;
}



/* some fact-style */
.some-fact-title {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.some-fact-description {
    margin-top: 0;
    max-width: 542px;
    max-height: 52px;
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 4rem;
    line-height: 1.6rem;
}

.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7rem;
}

.fact {
    max-width: 241.83px;
    max-height: 241.83px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    text-align: center;
    padding: 2.8rem;
}

.fact-icon {
    max-width: 45.22px;
    max-height: 45.22px;
    margin-bottom: 0.6rem;
}

.fact-number {
    margin-top: 0;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.fact-name {
    margin-top: 0;
    font-size: 1rem;
    font-weight: 600;
    max-width: 169px;
    max-height: 23px;
}




/* sponsor section style */
.sponsor-details {
    max-width: 542px;
    max-height: 129px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-title {
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
}

.sponsor-description {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.6rem;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 9.3rem;
}

.sponsor-companies img {
    filter: grayscale(100%);
    max-width: 165.83px;
    max-height: 50px;
}




/* responsive media query */

@media screen and (max-width: 576px) {

    .navbar,
    .nav-link,
    .features-container,
    .love-enjoy {
        flex-direction: column;
    }

    .navlink {
        padding: 0;
    }

    .nav-item {
        margin-right: 1rem;
        margin-left: 0.8rem;
    }

    .features-image-container,
    .fact-container,
    .sponsor-companies {
        grid-template-columns: 1fr;
    }

    .sponsor-companies {
        grid-template-columns: repeat(3, 1fr);
    }

    .sponsor-companies {
        gap: 1rem;
        margin-left: 3rem;

    }

    .fact-container {
        gap: 3.5rem;
        margin-left: 3rem;
    }

    .some-fact-description {
        margin-bottom: 3.1rem;
    }

    .sponsor-companies img {
        max-width: 3rem;
        max-height: 3rem;
    }
    .love-enjoy
    {
        gap: 3rem;
    }
    .love-enjoy-title
    {
        font-size: 1.8rem;
    }
    .love-enjoy-description
    {
        margin-bottom: 3rem;
        line-height: normal;
    }
    .card-descp
    {
        line-height: normal;
    }
    .love-enjoy-column img
    {
        width: 100%;
    }
    #experience-badge
    {
        margin: 20px 100px;
        padding: 10px 20px;
        font-size: 1rem;
    }
    #experience-year
    {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 577px) and (max-width: 990px) {
    .features-container,
    .love-enjoy {
        flex-direction: column;
    }

    .fact-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .sponsor-companies {
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5rem;
        margin-left: 3rem;
    }

    .some-fact {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .some-fact-description {
        text-align: center;
        margin-bottom: 3.5rem;
    }
    .love-enjoy
    {
        gap: 3rem;
    }
    .love-enjoy-column img
    {
        width: 70%;
        margin-left: 100px;
    }
    #experience-badge
    {
        margin: 20px 100px;
        padding: 20px 40px;
        font-size: 1rem;
    }
    #experience-year
    {
        font-size: 1.5rem;
    }
}